section#home
  header
    .logo
      img(src='assets/img/logo.jpg')
    .menu-container
      a(href='#').active PROJEKTE
      a(href='#') NEWS
      a(href='#') ÜBER UNS
      a(href='#') KONTAKT
  .home-wrapper
    .grid(data-packery='{ "itemSelector": ".grid-item", "gutter": 0 }')
      .grid-item.grid-item--width-3.grid-item--height-3
        img(src='assets/img/krems1.jpg')
      .grid-item
        img(src='assets/img/410_Sportpark_Lissfeld_3.jpg')

      .grid-item.grid-item--height-2
        img(src='assets/img/490_Berufsschule_Embelgasse_3.jpg')

      .grid-item.grid-item--width-2.grid-item--height-2
        img(src='assets/img/CAM1.jpg')

      .grid-item
        img(src='assets/img/380_TU_Karlsplatz_3.jpg')

      .grid-item.grid-item--width-2.grid-item--height-2
        img(src='assets/img/CAM4.jpg')

      .grid-item
        img(src='assets/img/390_Bad_Blumau_3.jpg')

      .grid-item.grid-item--width-2.grid-item--height-3
        img(src='assets/img/kreuzfeld1.jpg')

      .grid-item
        img(src='assets/img/3.jpg')

      .grid-item.grid-item--width-2.grid-item--height-2
        img(src='assets/img/kreuzfeld2.jpg')

      .grid-item
        img(src='assets/img/610_Parlament_Nationalratssaal_3.jpg')

      .grid-item.grid-item--height-2
        img(src='https://placeimg.com/330/220/arch')

      .grid-item.grid-item--height-3
        img(src='https://placeimg.com/210/120/arch')

      .grid-item
        img(src='https://placeimg.com/320/230/arch')

      .grid-item
        img(src='https://placeimg.com/223/221/arch')

      .grid-item.grid-item--width-2
        img(src='https://placeimg.com/400/320/arch')

      .grid-item
        img(src='https://placeimg.com/280/190/arch')

      .grid-item.grid-item--width-2
        img(src='https://placeimg.com/320/420/arch')

      .grid-item
        img(src='https://placeimg.com/230/120/arch')

      .grid-item
        img(src='https://placeimg.com/120/230/arch')

      .grid-item
        img(src='https://placeimg.com/320/210/arch')

      .grid-item
        img(src='https://placeimg.com/310/150/arch')

