section#home
  header
    h1 GC Architektur
    .menu-container
      a(href='#').active PROJEKTE
      a(href='#') ÜBER
      a(href='#') KONTAKT
  .home-wrapper
    .grid(data-packery='{ "itemSelector": ".grid-item", "gutter": 0 }')
      .grid-item.grid-item--width-3.grid-item--height-3
        img(src='https://placeimg.com/640/480/arch')
      .grid-item
        img(src='https://placeimg.com/640/420/arch')

      .grid-item.grid-item--height-2
        img(src='https://placeimg.com/300/280/arch')

      .grid-item.grid-item--width-2.grid-item--height-2
        img(src='https://placeimg.com/340/280/arch')

      .grid-item
        img(src='https://placeimg.com/140/100/arch')

      .grid-item.grid-item--width-2.grid-item--height-2
        img(src='https://placeimg.com/240/180/arch')

      .grid-item
        img(src='https://placeimg.com/530/210/arch')

      .grid-item.grid-item--width-2.grid-item--height-3
        img(src='https://placeimg.com/230/180/arch')

      .grid-item
        img(src='https://placeimg.com/620/280/arch')

      .grid-item.grid-item--width-2.grid-item--height-2
        img(src='https://placeimg.com/300/180/arch')

      .grid-item
        img(src='https://placeimg.com/230/120/arch')

      .grid-item.grid-item--height-2
        img(src='https://placeimg.com/330/220/arch')

      .grid-item.grid-item--height-3
        img(src='https://placeimg.com/210/120/arch')

      .grid-item
        img(src='https://placeimg.com/320/230/arch')

      .grid-item
        img(src='https://placeimg.com/223/221/arch')

      .grid-item.grid-item--width-2
        img(src='https://placeimg.com/400/320/arch')

      .grid-item
        img(src='https://placeimg.com/280/190/arch')

      .grid-item.grid-item--width-2
        img(src='https://placeimg.com/320/420/arch')

      .grid-item
        img(src='https://placeimg.com/230/120/arch')

      .grid-item
        img(src='https://placeimg.com/120/230/arch')

      .grid-item
        img(src='https://placeimg.com/320/210/arch')

      .grid-item
        img(src='https://placeimg.com/310/150/arch')

